:8081 {
	root * {$SITE_ROOT:build/site}

	@cms path /_/*
	handle @cms {
		reverse_proxy {$CMS_UPSTREAM:127.0.0.1:8080}
	}

	handle_errors 404 {
	    rewrite /404.html
	    file_server
	}

	file_server {
		precompressed br zstd gzip
	}
}
