@import url("/syntax-dark.css") screen and (prefers-color-scheme: dark);
@import url("/syntax-light.css") print, (prefers-color-scheme: light);

@font-face {
  font-family: 'Instrument Serif';
  font-style: normal;
  font-display: auto;
  font-weight: 400;
  src: url('/fonts/instrument-serif_5.2.5_latin-400-normal.woff2') format('woff2');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@font-face {
  font-family: 'Instrument Serif';
  font-style: italic;
  font-display: auto;
  font-weight: 400;
  src: url('/fonts/instrument-serif_5.1.0_latin-400-italic.woff2') format('woff2');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@font-face {
	font-family: 'TikTok Sans';
	font-style: oblique 0deg 6deg;
	font-weight: 300 900;
	font-stretch: 75% 150%;
	font-display: auto;
	src: url(/fonts/TikTok_Sans.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
	container: root / size;
	color-scheme: light dark;

	--dark-mode: false;
	--color-primary: #e43; /*#fa7;*/
	--c: var(--color-primary);

	--color-fg-hc: #000;
	--color-fg: #000;
	--color-bg-hc: #fff;
	--color-bg: oklch(from var(--color-primary) .99 calc(c * .1) h);
	--bg: linear-gradient(to right in oklch, oklch(from var(--color-primary) .97 calc(c * .25) h), oklch(from var(--color-primary) .99 calc(c * .1) h) 300px max(60vw, 1400px), oklch(from var(--color-primary) .97 calc(c * .25) h) max(100vw, 1500px));
	--bg: linear-gradient(to right in oklch, #0000, oklch(from var(--color-bg) l c h / 60%), oklch(from var(--color-bg) l c h / 90%), var(--color-bg) max(calc(50% - (var(--text-width) / 2)), 5vw) min(calc(50% + (var(--text-width) / 2)), 95vw), oklch(from var(--color-bg) l c h / 90%), oklch(from var(--color-bg) l c h / 60%), #0000) 0 / cover,
			repeating-linear-gradient( 90deg in oklch, oklch(from var(--color-h1) l c h / 5%), transparent 5vw),
			repeating-linear-gradient(135deg in oklch, oklch(from var(--color-link-underline) l c h / 15%), transparent 6vw),
			var(--color-bg);

	--color-primary-sat: oklch(from var(--color-primary) calc(.95) calc(c + .1) h);
	--color-primary-sat: oklch(from var(--color-primary) clamp(0.85, l, 0.95) max(.14, c) h);
	--color-button-important: oklch(from var(--color-primary) clamp(0.3, calc(l + 0.05), 0.57) calc(c + .02) h);
	--color-link: oklch(from var(--color-primary) 0.2 max(c, 0.1) h);
	--color-link-underline: oklch(from var(--color-primary) clamp(0.33, l, 0.77) max(c, 0.1) h);
	--color-h1: oklch(from var(--color-primary) min(.45, l) min(.13, c) h);
	--color-h2: oklch(from var(--color-primary) min(.4, l) min(.13, c) h);
	--color-tinted-shadow: oklch(from var(--color-primary) 0.2 min(c,0.2) h / 50%);
	--color-pop: oklch(from var(--color-primary) clamp(.77, l, .85) clamp(0.11, calc(c + .05), .27) calc(h - 180));
	--color-pop-bgcontrast: oklch(from var(--color-pop) 0.4 c h);
	--header-bg: linear-gradient(175deg in oklch, oklch(from var(--color-primary) l c calc(h - 30)) -100%, oklch(from var(--color-primary) 0.01 c calc(h + 30)) 200%) 0 / cover fixed;
	--button-shadow: inset 1px 1px 0 oklch(from var(--color-primary) 0.85 calc(c * .8) h), inset -1px -1px 0 oklch(from var(--color-primary) 0.75 calc(c * .8) h);
	--button-shadow-hover: inset 1px 1px 0 oklch(from var(--color-primary) 0.45 calc(c * .8) h), inset -1px -1px 0 oklch(from var(--color-primary) 0.55 calc(c * .8) h);
	--button-border: 1px solid oklch(from var(--color-pop) 0.2 0.1 h);
	--button-overlay: linear-gradient(to bottom in oklch, #fff1, #fff2 50%, #0002 50%, transparent);
	--button-highlight-overlay:
		linear-gradient(to right in oklch, #0000 -100%, #fff3, #0000 200%),
		linear-gradient(to bottom in oklch, #fff1, #fff2 50%, #0002 50%, transparent),
		repeating-linear-gradient(135deg, #ffffff03 0 4px, #00000003 0 8px) 0 / calc(8px/sin(135deg)) 100%;
	--royale-overlay: linear-gradient(to bottom in oklch, #fff5, #fff3 50%, #fff1 50%, #0002);

	@media (prefers-color-scheme: dark) {
		color-scheme: dark;
	}

	@media screen and (width < 1000px) {
		--bg: linear-gradient(to right in oklch, oklch(from var(--color-primary) .97 calc(c * .25) h), 20px, oklch(from var(--color-primary) .99 calc(c * .1) h) 100px calc(100% - 100px), calc(100% - 20px), oklch(from var(--color-primary) .97 calc(c * .25) h)), var(--color-bg);
	}

	--text-width: 50rem;
	--content-margins: 16px;
	--typeface-body: "TikTok Sans", "Segoe UI Variable", system-ui, sans-serif;
	--typeface-display: "Instrument Serif", "Iowan Old Style", "Sitka Display", Georgia, "Roboto Serif", ui-serif, serif;
	--typeface-mono: "Cascadia Code", ui-monospace, Consolas, "Source Code Pro", "Ubuntu Mono", "Fira Code", "Fira Mono", monospace;

	background-color: var(--color-bg);
	font-size: calc(15em / 16);

	scrollbar-color: var(--color-bg) var(--color-h1);
	scrollbar-width: thin;

	interpolate-size: allow-keywords;
}

@container root style(--dark-mode: true){
	body {
		--color-bg: oklch(from var(--color-primary) calc(l * .2) calc(c * .2) h);
		--color-fg: #fff;
		--color-fg-hc: #fff;
		--color-bg-hc: #000;
		--bg:
			linear-gradient(to right in oklch, #0000, oklch(from var(--color-bg) l c h / 60%), oklch(from var(--color-bg) l c h / 90%), var(--color-bg) max(calc(50% - (var(--text-width) / 2)), 5vw) min(calc(50% + (var(--text-width) / 2)), 95vw), oklch(from var(--color-bg) l c h / 90%), oklch(from var(--color-bg) l c h / 60%), #0000) 0 / cover,
			radial-gradient(oklch(from var(--color-h1) l c h / 50%) 1px, #0000 1.5px) 0 0 / 16px 16px,
			radial-gradient(oklch(from var(--color-h1) l c h / 50%) 1px, #0000 1.5px) 8px 8px / 16px 16px,
      		var(--color-bg);
		--color-h1: oklch(from var(--color-primary) max(0.7, l) max(0.1, c) h);
		--color-h2: oklch(from var(--color-primary) 0.8 min(c, 0.14) h);
		--color-link: oklch(from var(--color-primary) 1 min(c, 0.05) h);
		--color-pop-bgcontrast: var(--color-pop);
		--color-tinted-shadow: oklch(from var(--color-primary) 0.85 0.15 h / 50%);
		@media screen and (width < 1000px) {
			--bg: linear-gradient(to right in oklch, oklch(from var(--color-primary) calc(l * .3) calc(c * .3) h), oklch(from var(--color-primary) calc(l * .2) calc(c * .2) h) 100px calc(100% - 100px), oklch(from var(--color-primary) calc(l * .3) calc(c * .3) h)), var(--color-bg);
		}
	}
}

*, *:before, *:after {
	box-sizing: border-box;
}

body {
	container: body / inline-size;

	background: var(--color-bg);
	background: var(--bg);
	color: var(--color-fg);

	padding: 0;
	margin: 0;
	font: 350 1em/1.6 var(--typeface-body);
	font-stretch: 100%;
	font-optical-sizing: auto;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;

	transition: none;
}

header {
	grid-area: header;
	display: flex;
	flex-direction: column;

	margin: 0;
	padding: 0.45em 0.6em;
	font-size: clamp(1em, 1.2vw, 1.3em);

	color: #fff;
	background: #000;
	background: var(--header-bg);
	border-bottom: 1px solid var(--color-primary);
	box-shadow: 0 1px 5px var(--color-tinted-shadow);
}

nav#topnav {
	max-width: 100%;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	gap: 3px;
	line-height: 1.6;
	padding: 0 max(0px, calc(50vw - 1300px));
	& a#homelink {
		margin: 0;
		flex: 0 0;
		padding: 0.22em 0.35em 0.22em 0.45em;
		font: semi-expanded 600 2em/1 var(--typeface-body);
		letter-spacing: -0.03em;
		background: linear-gradient(180deg in oklch, #fff1, #fff2 50%, #0002 0, #0000),
			linear-gradient(90deg in oklch, #fff -15%, var(--color-pop) 0.25em, #0001 0.26em, #0000 0.36em),
			var(--color-button-important);
		&:hover {
			background: var(--button-highlight-overlay),
				linear-gradient(90deg in oklch, #fff -15%, var(--color-primary) 0.25em, #0001 0.26em, #0000 0.36em),
				var(--color-button-important);
		}
	}
	& ul {
		display: flex;
		flex-wrap: wrap;
		margin: 0;
		gap: 3px;
		list-style-type: none;
		flex: 1 1;
		padding: 0;
	}
	& li {
		display: flex;
		flex: 1 1 max-content;
		margin: 0;
		padding: 0;
	}
	& a:any-link {
		color: #fff;
		display: flex;
		place-items: center;
		place-content: center;
		flex: 1 0 max-content;
		min-width: max-content;
		box-shadow: var(--button-shadow);
		border: var(--button-border);
		background: var(--button-overlay), var(--color-button-important);
		padding: 0.3em 1ch 0.3em 0.8ch;
		text-decoration: none;
		text-shadow: 1px 1px 0 #000;
		font-stretch: normal;
		font-variation-settings: "YTLC" 560; /* lowercase height */
		&:hover, &:focus {
			background: var(--button-highlight-overlay), var(--color-button-important);
			backdrop-filter: saturate(1.2);
			box-shadow: var(--button-shadow-hover);
			color: #fff;
		}
		&:active {
			background: var(--button-overlay), var(--color-pop-bgcontrast);
			color: #fff;
		}
	}
}

nav#breadcrumbs{
	display: none;
}

nav#toc {
	padding: 5px max(1em, calc(50vw - 1300px + 1em));
	top: 0;
	height: fit-content;
	flex: unset;
	position: sticky;
	z-index: 10;
	background: repeating-linear-gradient(135deg in oklch, #8981, #0001 50px, #7771 70px, #0001 125px, #7771 150px, #8981 160px), oklch(from var(--color-primary) min(calc(l - 0.1), 0.4) c h / 85%);
	background: linear-gradient(to bottom in oklab, #ffffff11, #ffffff22 49%, #0001 51%, #0000, 106%, var(--color-primary-sat) 120%), linear-gradient(to right in oklab, oklch(from var(--color-primary) min(calc(l - 0.1), 0.4) c calc(h + 7) / 85%), oklch(from var(--color-primary) min(calc(l - 0.06), 0.44) c calc(h - 7) / 85%));
	//backdrop-filter: saturate(2) blur(3px);
	font-stretch: 75%;
	border-bottom: 1px solid var(--color-primary-sat);
	& a:any-link {
		&.scroll-current {
			text-decoration-color: var(--color-pop);
		}
	}
	&>div {
		max-width: 100%;
		margin: 0 auto;
	}
	& b {
		text-transform: uppercase;
		font-stretch: 110%;
		color: oklch(from var(--color-primary-sat) 0.9 c h / 80%);
	}
	& :any-link {
		text-decoration-color: oklch(from var(--color-primary-sat) 0.9 c h / 80%);
		font-weight: 350;
	}
	@media screen and (width < 700px) and (pointer: coarse) {
		padding: 0;
		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(90deg in oklab, #555c, 5px, #0000 16px calc(100% - 16px), calc(100% - 5px), #555c);
			pointer-events: none;
		}
		&>div {
			padding: 8px;
			text-wrap: nowrap;
			overflow-x: scroll;
			scroll-snap-type: x proximity;
			scrollbar-width: none;
			&::-webkit-scrollbar {
				display: none;
			}
		}
		& b::before, & a {
			scroll-snap-align: start;
			scroll-margin: 8px;
			display: inline-block;
			&::last-child {
				scroll-snap-align: end;
			}
		}
		& b {
			visibility: hidden;
			width: 1.5ch;
			display: inline-block;
			font-stretch: 50%;
			&::before{
				content: '#';
				visibility: visible;
			}
		}
	}
}

menu#ui-tools {
	position: fixed;
	right: 3px;
	bottom: 3px;

	margin: 0;
	padding: 0;

	display: grid;
	gap: 0;

	background: linear-gradient(175deg in oklch, oklch(from var(--color-primary) l c calc(h - 30)) -100%, oklch(from var(--color-primary) 0.01 c calc(h + 30)) 200%);
	opacity: 0.7;

	border: 1px solid var(--color-link-underline);
	border-radius: 5px;
	box-shadow: 1px 1px 2px oklch(from var(--color-tinted-shadow) 0.1 c h / 40%),
		2px 2px 4px oklch(from var(--color-tinted-shadow) 0.1 c h / 30%);

	transition: opacity 100ms ease-out;

	&:hover {
		opacity: 1;
	}

	&.min button{
		display: none;
	}

	& button {
		margin: 0;
		appearance: none;
		color: #fff;
		text-shadow: 1px 1px 0 #000;
		font: 600 1.4rem/1.5 var(--typeface-body);
		border-radius: 0;
		box-shadow: none;
		border: none;
		background: transparent;
		border-bottom: 1px solid #fff9;
		padding: 0.1em 0.15em;
		transition: background 100ms ease-out;
		&:last-child {
			border-bottom: none;
		}
		&#btn_larger b {
			color: oklch(0.7 0.2 170);
			font-size: 1rem;
			margin: 0 -0.15em;
		}
		&#btn_smaller b {
			color: #fa9122;
			color: oklch(0.8024 0.1549 58.1);
			font-size: 1rem;
			margin: 0 -0.15em;
		}
		&:hover {
			background: var(--button-highlight-overlay), var(--color-button-important);
			border-radius: 5px;
			border-bottom-color: #0000;
			outline: 1px solid var(--color-link-underline);
		}
	}
}

section.content {
	padding: var(--content-margins);
	grid-area: main;
	min-height: 100vh;
	overflow-wrap: anywhere;
	margin: 0;
	flex: unset;
	&>* {
		max-width: var(--text-width);
		margin-left: auto;
		margin-right: auto;
	}
	&>table {
		max-width: var(--text-width);
	}
	&>h1 {
		max-width: 1200px;
		text-align: center;
		text-wrap: balance;
	}
	& img {
		max-width: 100%;
		height: auto;
		--sc: oklch(from var(--color-tinted-shadow) l c h / 20%);
		--sc2: oklch(from var(--color-tinted-shadow) l c h / 10%);
		box-shadow: 1px 2px 2px var(--sc),
			2px 3px 4px var(--sc),
			5px 6px 8px var(--sc2);
		border-radius: 5px;
		z-index: 10;
		transform: scale(1);
		transform-origin: center;
		transition: 250ms transform cubic-bezier(0.165, 0.84, 0.44, 1);
		&:hover:not(.zoomed) {
			transform: perspective(200px) translateZ(5px);
			outline: 2px solid var(--color-pop);
			&.badge, &.badge-2x {
				position: relative;
				transform: none;
				//transform: perspective(200px) translateZ(100px);
			}
		}
		.content a:any-link:has(&) {
			box-shadow: none;
			background: none;
		}
		&.zoomed{
			position: relative;
			image-rendering: pixelated;
			border-radius: 0;
			box-shadow: 1px 2px 2px var(--sc),
				2px 3px 4px var(--sc),
				5px 6px 8px var(--sc2),
				5px 6px 20px 10px var(--sc);
		}
		&.badge, &.badge-2x {
			width: 88px;
			height: 31px;
			border-radius: 0;
			image-rendering: pixelated;
		}
		&.badge-2x {
			width: 172px;
			height: 62px;
		}
	}
	& pre {
		resize: horizontal;
		max-width: calc(100% - 20px);
		width: var(--text-width);
	}
   	& p.fullbleed, & div.fullbleed, & p:has(img.fullbleed) {
		margin-left: calc(-1 * var(--content-margins));
		margin-right: calc(-1 * var(--content-margins));
		width: calc(100% + (2 * var(--content-margins)));
		min-width: calc(100% + (2 * var(--content-margins)));
		max-width: none;
		& :is(img,pre,table) {
			border-radius: 0;
			width: 100%;
			max-width: none;
			min-width: 100%;
		}
	}
}

footer {
	--c: oklch(from var(--color-primary) max(l,0.85) c h);
	--c70: color-mix(in oklch, var(--c) 70%, #0000);
	--c10: color-mix(in oklch, var(--c) 10%, #0000);
	grid-area: footer;
	padding: 20px 3ch 60px;
	background: repeating-linear-gradient(#0000, #000 3px, var(--c10) 4px, var(--c10) 5px, #0000 6px) #000;
	font: 400 1.5em/1.15 var(--typeface-mono);
	text-shadow: 0 0 0.5em var(--c70);
	color: var(--c);
	position: relative;
	box-shadow: 2px 2px 30px #000 inset, 2px 2px 30px #000 inset;
	border-top: 2px solid var(--color-pop);
	overflow-x: hidden;
	margin: 0;
	&>* {
		max-width: var(--text-width);
		margin-left: auto;
		margin-right: auto;
	}
	& .sitetree {
		text-overflow: ellipsis;
		text-wrap: nowrap;
		overflow: hidden;
		width: 100%;
		display: block;
	}
	& a:any-link {
		background: var(--c);
		color: #000b;
		text-decoration: none;
		text-shadow: 0 0 3px #0005;
		&:hover, &:active {
			text-decoration: underline;
			background: inherit;
			color: inherit;
			box-shadow: none;
		}
		.sitetree & {
			color: inherit;
			background: none;
			text-shadow: inherit;
		}
	}
	& p, & li, & pre, & dl {
		max-width: var(--text-width);
		filter: drop-shadow(0 0 0.5em var(--c70));
		border: none;
	}
	dd {
		text-align: left;
		margin-left: 1ch;
	}
	dt {
		font-weight: bold;
		&::after {
			content: ':';
			font-weight: normal;
		}
		margin-top: 1em;
	}
}

a:any-link {
	color: inherit;
	font-weight: 500;
	text-decoration: underline;
	color: var(--color-link);
	text-decoration-color: var(--color-link-underline);
	text-underline-offset: 6%;
	text-decoration-thickness: 0.09em;
	transition: color 200ms cubic-bezier(0.23, 1, 0.320, 1),
		border-color 200ms cubic-bezier(0.23, 1, 0.320, 1),
		background 200ms cubic-bezier(0.23, 1, 0.320, 1),
		box-shadow 200ms cubic-bezier(0.23, 1, 0.320, 1),
		text-decoration 500ms cubic-bezier(0.23, 1, 0.320, 1);

	&:hover, &:active, &:focus {
		--c: var(--color-link-underline);
		background: var(--c);
		color: var(--color-bg-hc);
		box-shadow: 0 0 0 3px var(--c);
		text-decoration: none;
		text-shadow: 0 0 2px var(--color-fg);
	}
	&:active {
		--c: var(--color-pop-bgcontrast);
	}
}

h1 {
	font: 400 4em/1.05 var(--typeface-display);
	letter-spacing: normal;
	font-size: clamp(3em, 5vw, 6em);
	color: var(--color-h1);
	max-width: 24ch;
	margin: 0.5em 0 0.25em;
	text-shadow: 2px 2px 0 oklch(from var(--color-tinted-shadow) l c h / 15%);
	& em, & i{
		font-style: normal;
		text-decoration: 0.05em underline var(--color-pop-bgcontrast);
		text-underline-offset: 0.05em;
	}
	& small {
		display: block;
		font: italic normal 1.5rem/1.2 var(--typeface-display);
		padding-top: 0.5em;
		color: var(--color-h2);
		text-shadow: none;
		& :any-link {
			text-underline-offset: auto;
		}
	}
}

h2 {
	color: var(--color-h2);
	font: semi-expanded 375 1.6em/1.15 var(--typeface-body);
	margin: 1em 0 0.25em;
	position: relative;
	max-width: var(--text-width);
	&::after{
		content: '';
		position: absolute;
		width: 100%;
		height: 1px;
		right: 0;
		bottom: -3px;
		background: linear-gradient(to right, color-mix(in oklch, var(--color-pop) 50%, var(--color-fg)), var(--color-bg));
		background: linear-gradient(to right in oklab, var(--color-pop-bgcontrast), oklch(from var(--color-bg) l c h / 50%));
		background: linear-gradient(to right in oklab, var(--color-h1) -100%, oklch(from var(--color-bg) l c h / 50%));
		background: linear-gradient(to right in oklab, var(--color-h1) -100%, transparent));
	}
}

h3 {
	font: semi-expanded 400 1.2em/1.4 var(--typeface-body);
	text-transform: uppercase;
	margin: 1em 0 0.3em;
	h2 + & {
		margin-top: 0.6em;
	}
}

h4 {
	font: 300 1.2em/1.5 var(--typeface-body);
	font-style: oblique 5deg;
	margin: 1em 0 0.4em;
	& em, & i {
		font-style: oblique 10deg;
		text-decoration: underline 1px;
	}
}

h5 {
	font: ultra-expanded 700 1em/1.6 var(--typeface-body);
	text-transform: uppercase;
	color: var(--color-h2);
	margin: 1em 0 0.4em;
	&::before {
		content: '↪ ';
		color: var(--color-fg);
		font-style: normal;
	}
}

h6 {
	font: condensed 700 1em/1.6 var(--typeface-body);
	margin: 1em 0 0.4em;
	&::before {
		content: '↪ ';
		color: var(--color-h2);
		font-style: normal;
	}
}

code, pre {
	font: 400 1em/1.15 var(--typeface-mono);
}

.zola-anchor:any-link {
	position: absolute;
	left: -0.9em;
	opacity: 0;
	color: var(--color-primary);
	text-decoration: none;
	padding-right: 10px;
	transition: opacity 300ms cubic-bezier(0.25, 1, 0.5, 1);;
	:hover > &, &:hover, &:focus, &:active{
		opacity: 1;
		box-shadow: none;
		background: none;
		color: var(--color-primary);
	}
	:has(>&) {
		position: relative;
	}
}

blockquote {
	background: linear-gradient(to bottom right, color-mix(in oklch,var(--color-primary) 10%, transparent), transparent 300%);
	padding: .5em 2ch;
	margin: 1em 0;
	border-left: 2px solid var(--color-primary);
	max-width: var(--text-width);
}

.article-signoff {
	text-align: right;
}

.quote-signoff {
	text-align: right;
}

strong, b{
	font-weight: 600;
}

:is(p, li) :is(i, em) {
	font-style: oblique 6deg;
	font-weight: 400;
	font-stretch: 90%;
	text-decoration: solid underline oklch(from var(--color-fg) l c h / 12%);
	text-underline-offset: 6%;
}

ol {
	padding-left: 1.85em;
	& li {
		padding-left: 0.15em;
		&::marker {
			color: var(--color-h1);
			font-weight: 400;
			margin: .2em 0;
		}
	}
	h2 + &, h3 + &, summary + & {
		margin-top: 0.25em;
	}
	& ol {
		padding-left: 2.5ch;
		list-style-type: lower-alpha;
	}
}

ul {
	padding-left: 1.65em;
	& li {
		padding-left: 0.3em;
		margin: .2em 0;
		&::marker {
			color: var(--color-h1);
		}
	}
	h2 + &, h3 + &{
		margin-top: 0.25em;
	}
}
ul.blog-listing {
	padding: 0;
	display: flex;
	flex-direction: column;
	font: 400 clamp(1.6em, 3.5vw, 2.1em)/1.1 var(--typeface-display);
	font-variant-numeric: lining-nums;
	text-wrap: balance;
	& li {
		display: grid;
		grid-template-areas: "date tags author" "title title title";
		gap: 0.06em 1em;
		position: relative;
		background: linear-gradient(to right, var(--color-primary), #0000) no-repeat bottom / 100% 1px, transparent;
		padding: 0.4em 0 0.3em;
		margin: 0;
		align-items: end;
		--c: var(--color-h1);
		transition: padding-left 100ms cubic-bezier(0.215, 0.610, 0.355, 1);
		color: var(--color-h2);
		& a:any-link:first-child {
			grid-area: title;
			color: oklch(from var(--color-fg) l c h / 90%);
			text-decoration: none;
			&:hover, &:active {
				color: var(--color-bg);
				text-shadow: 2px 2px 0 #0004;
				box-shadow: none;
				background: none;
			}
		}
		&:has(a:any-link:first-child:active, a:any-link:first-child:hover) {
			background: linear-gradient(to right, #0000, #0000) no-repeat bottom / 100% 1px,
				repeating-linear-gradient(135deg, #ffffff07 0 10px, transparent 10px 20px),
				linear-gradient(350deg in oklch, var(--color-h2), #fff 700%);
			padding-left: 0.25em;
			padding-right: 0.25em;
			box-shadow: var(--button-shadow-hover);
			color: var(--color-bg);
			text-shadow: 1px 1px 0 #0004;
		}
		& .article-separator {
			display: none;
		}
		& time {
			grid-area: date;
			font-family: var(--typeface-mono);
			min-width: max-content;
			font-size: 1rem;
			line-height: 1;
		}
	}
}

body#blog h1, body#tools h1 {
	max-width: var(--text-width);
	text-align: left;
}

h2 + p, h3 + p, h4 + p {
	margin-top: 0.5em;
}

h5 + p, h6 + p {
	margin-top: 0;
}

pre {
	padding: 0.5em 0.7em;
	overflow-x: auto;
	max-width: fit-content;
	border: 1px dotted oklch(from var(--color-fg) l c h / 60%);
}

pre:has(>samp) {
	border: 1px solid oklch(from var(--color-pop) l c h / 80%);
	box-shadow: 1px 1px 4px oklch(from var(--color-tinted-shadow) l c h / 50%);
	background: oklch(from var(--color-bg-hc) l c h / 50%);
}

.z-code {
	counter-reset: line;
	box-shadow: 1px 1px 5px inset #0003;
	border: 1px solid var(--color-primary);
	@container & (width > 300px) & {
		margin-left: -2em;
	}
	&:has(>code>.z-text:only-child), &:has(>code>.z-source:only-child) {
		box-shadow: 1px 1px 3px inset #0003;
	}
}

table {
	border: border: 1px solid var(--color-h1);
	border-collapse: collapse;
	& th {
		background: var(--color-h2);
		color: var(--color-bg);
		border: 1px solid var(--color-h2);
		padding: 0.2em 0.5em;
		font-weight: 400;
	}
	& td {
		border: 1px solid oklch(from var(--color-h1) l c h / 50%);
		padding: 0.2em 0.5em;
	}
	& tr:nth-child(odd) {
		background: oklch(from var(--color-h1) l c h / 10%)
	}
	& code {
		display: block;
		overflow: auto;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 4;
		td:has(&) {
			overflow: auto;
		}
	}
}

kbd {
	background: var(--color-bg-hc);
	display: inline-block;
	text-align: center;
	min-width: 1.5em;
	font-family: var(--typeface-mono);
	line-height: 1.2;
	padding: 0 0.3em;
	border-bottom: 2px solid var(--color-h2);
	border-right: 1px solid var(--color-h2);
	box-shadow: 0 0 2px oklch(from var(--color-tinted-shadow) l c h / 20%), 2px 2px 3px oklch(from var(--color-tinted-shadow) l c h / 10%);
	border-radius: 3px;
}

.sitebuttons ul {
	display: flex;
	list-style: none;
	padding: 0.5em 0;
	gap: 6px;
	flex-wrap: wrap;
	max-width: var(--text-width);
	font-size: 1.33em;
	li {
		display: flex;
		flex: 1 1 max-content;
		flex-direction: column;
		padding: 0;
		margin: 0;
	}
	& a:any-link {
		flex: 1 1 max-content;
		display: flex;
		align-items: center;
		gap: 0.4em;
		background: linear-gradient(352deg in oklch, var(--color-bg), var(--color-primary) 750%);
		box-shadow: inset 1px 1px 3px oklch(from var(--color-primary) 0.1 c h / 50%);
		border: 1px solid oklch(from var(--color-primary) l c h / 35%);
		padding: clamp(0.3em, 1vw, 0.5em) 0.75em;
		text-decoration: none !important;
		font-weight: 400;
		border-radius: 5px;
		& .emoji {
			font-size: 1.2em;
			text-shadow: 1px 1px 2px var(--color-tinted-shadow);
		}
		& span:not(.emoji) {
			text-decoration: 0.08em underline var(--color-link-underline) !important;
			text-underline-offset: 0.07em;
			text-shadow: 1px 1px 2px oklch(from var(--color-tinted-shadow) l c h / 10%);
		}
		&:hover, &:focus {
			background: var(--button-highlight-overlay), oklch(from var(--color-primary) 0.55 c h);
			color: #fff;
			box-shadow: var(--button-shadow), 1px 1px 2px var(--color-tinted-shadow);
			& span:not(.emoji) {
				text-decoration: transparent !important;
				text-shadow: 1px 1px 2px #000;
			}
		}
	}
}

#search-container {
	z-index: 100;
	position: fixed;
	top: max(100px, 5vh);
	right: 12px;
	width: calc(var(--text-width) + 70px);
	max-height: calc(100vh - 120px);
	max-width: calc(100% - 24px);
	padding: 10px;
	display: flex;
	flex-direction: column;
	grid-area: search;
	transition: transform 500ms cubic-bezier(0.23, 1, 0.320, 1),
		opacity 300ms cubic-bezier(0.23, 1, 0.320, 1),
		width 100ms cubic-bezier(0.23, 1, 0.320, 1),
		height 100ms cubic-bezier(0.23, 1, 0.320, 1),
		top 50ms cubic-bezier(0.23, 1, 0.320, 1),
		left 50ms cubic-bezier(0.23, 1, 0.320, 1);
	transform-origin: center;
	overflow: hidden;
	padding: 0;
	border: 1px solid var(--color-primary-sat);
	outline: 1px solid #000;
	background: linear-gradient(172deg in oklch, var(--color-bg), #0000 700%) no-repeat 0 34px / cover, linear-gradient(to top right in oklch longer hue, #b90000, #00cd88) no-repeat 0 34px / cover;
	box-shadow: 0 1px 5px oklch(from var(--color-tinted-shadow) l c h / 30%), 0 3px 10px oklch(from var(--color-tinted-shadow) l c h / 20%);
	opacity: 97%;
	border-radius: 3px;
	@starting-style {
		transform: perspective(200px) translateZ(-150px) rotateX(-30deg);
		opacity: 0;
	}
	&.hidden {
		transform: perspective(200px) translateZ(-200px) rotateX(30deg);
		opacity: 0;
	}
	&.min {
		transform: perspective(1000px) rotateX(-90deg);
		transform-origin: top center;
		opacity: 0;
	}
	&.max {
		top: 0;
		right: 0;
		width: 100%;
		max-width: 100%;
		height: 100%;
		max-height: 100%;
		opacity: 1;
		border-radius: 0;
	}
	&.drag {
		border-color: var(--color-pop);
		box-shadow: 0 0 2px var(--color-primary-sat);
		opacity: 0.75;
		transition: none;
	}
	& kbd{
		font-family: var(--typeface-body);
		font-stretch: 50%;
	}
	& label[for="search-box"] {
		grid-area: label;
		margin: 0;
		display: inline-block;
		& b {
			font-weight: 650;
		}
		& i {
			font-weight: 350;
			font-style: normal;
		}
	}
	& #search-titlebar {
		background: var(--button-overlay), var(--color-button-important);
		background: var(--button-overlay), linear-gradient(120deg in oklch longer hue, #b90000, #00cd88);
		background: var(--button-overlay), linear-gradient(120deg in oklch, #0000 150px, #fff6 151px 154px, #0000 155px 159px, #fff6 160px 164px, #0000 165px 169px, #fff5 170px 174px, #0000 175px 179px, #fff4 180px 184px, #0000 185px 189px, #fff3 190px 194px, #0000 195px), linear-gradient(120deg in oklch, oklch(from var(--color-primary-sat) 0.4 c h / 80%), oklch(from var(--color-primary) l c h / 80%) 90%);
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: #fff;
		padding: 1px 1px 2px 7px;
		line-height: 1.2;
		text-shadow: 1px 1px 0 #000;
		user-select: none;
		touch-action: none;
		&:active {
			cursor: grabbing;
		}
	}
	& .window-buttons {
		display: flex;
		gap: 1px;
		height: 32px;
	}
	& .window-buttons button {
		display: flex;
		width: 36px;
		height: 32px;
		place-content: center;
		font-family: inherit;
		font-size: 26px;
		line-height: 24px;
		color: #fff;
		appearance: none;
		background: radial-gradient(ellipse 100% 50% at bottom center, #fff5, #0000), oklch(from var(--color-button-important) l calc(c + 0.1) h / 40%);
		border: 1px solid oklch(from var(--color-primary) min(.45, l) min(.13, c) h);
		border-radius: 2px;
		box-shadow: var(--button-shadow);
		font-stretch: 110%;
		font-weight: 600;
		text-shadow: 1px 1px 0 #000;
		transition: all 200ms cubic-bezier(0.23, 1, 0.320, 1);
		margin: 0;
		&:hover {
			background: var(--button-highlight-overlay), oklch(from var(--color-button-important) l c h / 40%);
			box-shadow: var(--button-shadow-hover);
		}
	}
	& #search-min {
		&:hover { text-shadow: 0 0 6px #fa0; }
	}
	& #search-max {
		&:hover { text-shadow: 0 0 6px #0f5; }
	}
	& #search-close {
		&:hover { text-shadow: 0 0 6px #f42; }
	}
	& #search-inner {
		overflow: auto;
		display: flex;
		flex-direction: column;
	}
	& #search-box {
		margin: 0.5rem 1rem 0rem;
		width: auto;
		appearance: none;
		font-family: inherit;
		border: none;
		border-bottom: 1px solid var(--color-h1);
		background: var(--color-bg-hc);
		box-shadow: var(--button-shadow);
		color: inherit;
		font-size: 1.3rem;
		font-stretch: 125%;
		padding: 0.25em;
		border-radius: 0;
		&:focus {
			outline: none;
			box-shadow: var(--button-shadow-hover);
		}
	}
	& #search-results {
		grid-area: results;
		list-style-type: none;
		display: flex;
		flex-direction: column;
		gap: 4px;
		padding: 0.5em 1em;
		margin: 0;
		max-width: 100%;
		margin: 0;
		&:not(:has(.search-result)) {
			display: none;
		}
	}
	& #search-help {
		:has(.search-result) & {
			display: none;
		}
		display: flex;
		flex-direction: column;
		margin: 0 1em 1em;
		& h2 {
			margin: 0.5em 0 0.25em;
		}
	}
	& .search-result {
		--c: var(--color-primary);
		display: flex;
		flex-wrap: wrap;
		gap: 0.2em 0.5em;
		padding: 0.15em 0.5em;
		border: 1px solid color-mix(in oklch, var(--c) 60%, var(--color-fg));
		background: linear-gradient(to bottom right in oklch, oklch(from var(--c) l c calc(h - 10) / 15%), oklch(from var(--c) l c calc(h + 10) / 5%));
		position: relative;
		color: color-mix(in oklch, var(--c) 30%, var(--color-fg));
		& a:any-link {
			text-decoration-color: color-mix(in oklch, var(--c) 60%, var(--color-fg));
			color: inherit;
			&:hover {
				background: transparent;
				color: inherit;
				box-shadow: none;
				text-shadow: inherit;
				text-decoration: underline;
			}
		}
		&:hover {
			filter: brightness(1.2) saturate(1.5);
			cursor: pointer;
		}
	}
	& .search-shortcut {
		margin-left: auto;
		@media screen and (width < 500px) {
			display: none;
		}
	}
	& #search-keyword-list {
		margin-top: 0.25em;
		padding-left: 0;
		list-style: none;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(20ch, 1fr));
		max-width: 100%;
		gap: 5px 4px;
		& li {
			--c: oklch(from var(--color-h2) l c h);
			margin: 0;
			display: flex;
			flex-direction: row-reverse;
			justify-content: space-between;
			align-items: center;
			gap: 0.5em;
			padding: 0.3em 0.5em;
			//min-width: max-content;
			border: 1px solid color-mix(in oklch, var(--c) 60%, var(--color-fg));
			background: linear-gradient(to bottom right in oklch, oklch(from var(--c) l c h / 15%), oklch(from var(--c) l c h / 5%));
			font-stretch: 50%;
			line-height: 1.25;
			cursor: pointer;
			& samp {
				font-stretch: 100%;
				padding: 0 0.25em;
				border: 1px solid #7777;
				background: var(--color-bg);
				font-family: inherit;
				font-size: 0.9em;
				font-weight: 400;
				border-radius: 5px;
			}
		}
	}
}

@media screen and (width <= 700px) {
	nav#topnav {
		justify-content: center;
		& a#homelink, & ul {
			flex: 1 1 350px;
		}
	}
	footer {
		font-size: 14px !important;
	}
}

@media print {
	:root {
		--color-bg: #fff;
		--color-fg: #000;
		--bg: #fff;
		--text-width: 100%;
	}
	body:has(nav#toc) {
		display: flex !important;
	}
	section.content {
		padding: 0;
		margin: 0;
		& a:any-link {
			text-decoration: none;
			font-weight: 600;
			&:after{
				font-weight: 350;
				font-style: italic;
				font-size: 1rem;
				content: " (" attr(href) ") ";
			}
		}
	}
	nav#toc {
		display: none;
	}
	header {
		padding: 0;
		visibility: hidden;
	}
	header ul {
		display: none !important;
	}
	nav#topnav>a:first-child {
		color: #000;
		visibility: visible;
		background: none;
		border: 1pt solid var(--color-pop-bgcontrast);
		outline: 0;
		text-shadow: none;
		position: absolute;
		top: 1px;
		right: 1px;
		display: flex;
		flex-direction: column;
		align-items: end;
		&:after{
			content: 'deal.digital';
			font-size: 1rem;
		}
	}
	footer {
		font-size: 10pt !important;
		box-shadow: none;
		border-top: 1px solid #000;
		color: #000;
		background: none;
		text-shadow: none;
		& a:any-link {
			background: none;
			text-shadow: none;
			color: #000;
			text-decoration: underline;
		}
		& p, & li {
			filter: none;
		}
		& pre {
			display: none;
		}
	}
	h1:first-child {
		margin-top: 0;
	}
}
