@import url("/syntax-dark.css") screen and (prefers-color-scheme: dark);
@import url("/syntax-light.css") print, (prefers-color-scheme: light);

@font-face {
  font-family: 'Roboto Flex';
  font-style: oblique 0deg 10deg;
  font-display: swap;
  font-weight: 100 1000;
  font-stretch: 25% 151%;
  src: url('/fonts/roboto-flex_5.2.5_latin-full-normal.woff2') format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@font-face {
  font-family: 'Inconsolata Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 200 900;
  src: url('/fonts/inconsolata_5.2.6_latin-wght-normal.woff2') format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@font-face {
  font-family: 'Instrument Serif';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('/fonts/instrument-serif_5.2.5_latin-400-normal.woff2') format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/instrument-serif@latest/latin-400-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

:root {
	container: root / size;

	--dark-mode: false;
	--color-primary: #f30; /*#fa7;*/

    --color-fg-hc: #000;
	--color-fg: #000;
	--color-bg-hc: #fff;
	--color-bg: oklch(from var(--color-primary) .99 calc(c * .1) h);
	--bg: linear-gradient(to right in oklch, oklch(from var(--color-primary) .97 calc(c * .25) h), oklch(from var(--color-primary) .99 calc(c * .1) h) 300px max(60vw, 1400px), oklch(from var(--color-primary) .97 calc(c * .25) h) max(100vw, 1500px));

	--color-primary-sat: oklch(from var(--color-primary) calc(.95) calc(c + .1) h);
	--color-link: oklch(from var(--color-primary) 0.2 max(c, 0.1) h);
	--color-link-underline: oklch(from var(--color-primary) clamp(0.33, l, 0.77) max(c, 0.1) h);
	--color-h1: oklch(from var(--color-primary) min(.45, l) min(.13, c) h);
	--color-h2: oklch(from var(--color-primary) min(.4, l) min(.13, c) h);
	--color-tinted-shadow: oklch(from var(--color-primary) 0.2 0.2 h / 50%);
	--color-pop: oklch(from var(--color-primary) clamp(.77, l, .85) clamp(0.11, calc(c + .05), .27) calc(h - 180));
	--color-pop-bgcontrast: oklch(from var(--color-pop) 0.4 c h);
	--header-bg: linear-gradient(175deg in oklch, oklch(from var(--color-primary) l c calc(h - 30)) -100%, oklch(from var(--color-primary) 0.01 c calc(h + 30)) 200%) 0 / cover fixed;
	--button-shadow: inset 1px 1px 0 color-mix(in oklch, var(--color-primary) 50%, #ffff), inset -1px -1px 0 color-mix(in oklch, var(--color-h1) 40%, #ffff);
	--button-shadow: inset 1px 1px 0 oklch(from var(--color-primary) 0.85 calc(c * .8) h), inset -1px -1px 0 oklch(from var(--color-primary) 0.75 calc(c * .8) h);
	--button-shadow-hover: inset 1px 1px 0 oklch(from var(--color-primary) 0.45 calc(c * .8) h), inset -1px -1px 0 oklch(from var(--color-primary) 0.55 calc(c * .8) h);
	--button-border: 1px solid oklch(from var(--color-pop) 0.2 0.1 h);
	--button-overlay: linear-gradient(to bottom in oklch, #fff1, #fff2 50%, #0002 50%, transparent);
	--button-highlight-overlay: linear-gradient(to right in oklch, #0000 -100%, #fff3, #0000 200%), linear-gradient(to bottom in oklch, #fff1, #fff2 50%, #0002 50%, transparent);
	--weight-h2: 500;

	@media (prefers-color-scheme: dark) {
		--dark-mode: true;
	}

	--text-width: 50rem;
	--content-margins: 5vw;
	--typeface-body: "Roboto Flex", sans-serif;
	--typeface-display: "Instrument Serif", serif;
	--typeface-mono: "Inconsolata Variable", monospace;

	box-sizing: border-box;
	background-color: var(--color-bg);
	font-size: calc(15em / 16);

	scrollbar-color: var(--color-bg) var(--color-h1);
	scrollbar-width: thin;

	interpolate-size: allow-keywords;
}

@container root style(--dark-mode: true){
	body {
		--color-bg: oklch(from var(--color-primary) calc(l * .2) calc(c * .2) h);
		--color-fg: #fff;
		--color-fg-hc: #fff;
		--color-bg-hc: #000;
		--bg: repeating-linear-gradient(135deg in oklch, oklch(from var(--color-primary) 1 0.1 h / 0.15%), oklch(from var(--color-primary) 0 0.1 h / 1%) 0.7vmax), linear-gradient(to right in oklch, oklch(from var(--color-primary) calc(l * .3) calc(c * .3) h), oklch(from var(--color-primary) calc(l * .2) calc(c * .2) h) min(50%,800px));
		--color-h1: oklch(from var(--color-primary) max(0.7, l) max(0.15, c) h);
		--color-h2: oklch(from var(--color-primary) 0.8 min(c, 0.14) h);
		--color-link: oklch(from var(--color-primary) 1 min(c, 0.05) h);
		--weight-h2: 400;
		--color-pop-bgcontrast: var(--color-pop);
		--color-tinted-shadow: oklch(from var(--color-primary) 0.8 0.15 h / 50%);
	}

}

*, *:before, *:after{
	box-sizing: inherit;
}

body {
    container: body / inline-size;

	background: var(--color-bg);
	background: var(--bg);
	color: var(--color-fg);

	padding: 0;
	margin: 0;
	font: 325 1em/1.6 var(--typeface-body);
	font-stretch: 110%;
	font-optical-sizing: auto;

	display: flex;
	flex-direction: column;

	&:has(nav#toc details[open]) {
		display: grid;
		grid-template-columns: minmax(250px,1fr) minmax(150px,5fr);
		grid-template-rows: auto auto minmax(100vh,auto) auto;
		grid-template-areas: "search search" "header header" "sidebar main" "footer footer";
	}
}

header {
	grid-area: header;
	display: flex;
	flex-direction: column;

	margin: 0;
	padding: 0.45em 0.6em;
	font-size: clamp(1em, 1.2vw, 1.3em);

	color: #fff;
	background: #000;
	background: var(--header-bg);
	border-bottom: 1px solid var(--color-primary);
	box-shadow: 0 1px 5px var(--color-tinted-shadow);
}

nav#topnav {
	display: flex;
	flex-wrap: wrap;
	gap: 3px;
	&>a:any-link:first-child {
		flex: 0 0;
		padding: 0.22em 0.35em 0.22em 0.45em;
		font: 500 2em/1 var(--typeface-body);
		font-stretch: 110%;
		letter-spacing: -0.02em;
		font-variation-settings:
			"YTLC" 570, /* lowercase height */
			"XTRA" 530, /* counter width */
			"YTDE" -180, /* descender depth */
			"GRAD" 150; /* additional weight without spacing */
		background: linear-gradient(180deg in oklch, #fff1, #fff2 50%, #0002 0, #0000),
		    linear-gradient(90deg in oklch, #fff -15%, var(--color-pop) 0.25em, #0001 0.26em, #0000 0.36em),
			color-mix(in oklch, var(--color-primary-sat) 20%, transparent);
	}
	& ul {
		overflow: hidden;
		display: flex;
		flex-wrap: wrap;
		padding: 0;
		margin: 0;
		gap: 3px;
		list-style-type: none;
		flex: 1 1;
		padding-right: max(0px, calc(100vw - 1400px));
	}
	& li {
		display: flex;
		flex: 1 1 max-content;
		margin: 0;
		padding: 0;
	}
	& a:any-link {
	    color: #fff;
		display: flex;
		place-items: center;
		place-content: center;
		flex: 1 0 max-content;
		min-width: max-content;
		box-shadow: var(--button-shadow);
		border: var(--button-border);
		background: var(--button-overlay), color-mix(in oklch, var(--color-primary-sat) 20%, transparent);
		padding: 0.3em 1ch 0.3em 0.8ch;
		text-decoration: none;
		text-shadow: 1px 1px 0 #000;
		font-stretch: 125%;
		font-variation-settings: "YTLC" 560; /* lowercase height */
		&:hover, &:focus {
			background: var(--button-highlight-overlay), color-mix(in oklch, var(--color-primary-sat) 20%, transparent);
			backdrop-filter: saturate(1.2);
			box-shadow: var(--button-shadow-hover);
			color: #fff;
		}
		&:active {
			background: var(--button-overlay), var(--color-pop-bgcontrast);
			color: #fff;
		}
	}
}

nav#breadcrumbs{
	display: none;
}

nav#toc {
	grid-area: sidebar;
	padding: 0 1.5em;
	top: 0;
	height: fit-content;
	&:has(details[open]) {
		position: sticky;
	}
	& h2 {
		padding: 0 0 10px;
		margin: 20px 0 10px;
		flex: 1 0;
	}
	& ol {
		padding: 0 0 0 3ch;
		list-style-type: decimal-leading-zero;
		& ol {
			list-style-type: lower-alpha;
			padding: 0 0 0 1.5ch;
		}
	}
	& li:has(.toplink) {
		text-align: right;
		margin-top: 1em;
		list-style: none;
	}
	& details summary {
		list-style: none;
		display: flex;
		flex-direction: column;
		position: relative;
		&::-webkit-details-marker {
			display: none;
		}
		:not([open])>& h2 {
			display: none;
		}
		&::after {
			content: '▼ Show Contents';
			margin-left: calc(var(--content-margins) - 1.5em);
			margin-bottom: -10px;
			margin-top: 1em;
			padding: 0 0.5em;
			color: #fff;
			box-shadow: var(--button-shadow);
			border: var(--button-border);
			background: var(--button-overlay), color-mix(in oklch, var(--color-primary-sat), #000 45%);
			text-shadow: 1px 1px 0 #000;
			width: fit-content;
			transition: background 200ms cubic-bezier(0.23, 1, 0.320, 1), box-shadow 200ms cubic-bezier(0.23, 1, 0.320, 1);
		}
		&:hover::after {
			background: var(--button-highlight-overlay), color-mix(in oklch, var(--color-primary-sat), #000 45%);
			box-shadow: var(--button-shadow-hover);
		}
		[open] &::after {
			content: 'Hide ▲';
			position: absolute;
			right: 0.5ch;
			bottom: 1.3em;
			margin: 0;
		}
	}
}

menu#ui-tools {
	position: fixed;
	right: 3px;
	bottom: 3px;

	margin: 0;
	padding: 0;

	display: grid;
	gap: 0;

	background: linear-gradient(175deg in oklch, oklch(from var(--color-primary) l c calc(h - 30)) -100%, oklch(from var(--color-primary) 0.01 c calc(h + 30)) 200%);
	opacity: 0.7;

	border: 1px solid var(--color-link-underline);
	border-radius: 5px;
	box-shadow: 1px 1px 2px oklch(from var(--color-tinted-shadow) 0.1 c h / 40%),
		2px 2px 4px oklch(from var(--color-tinted-shadow) 0.1 c h / 30%);

	transition: opacity 100ms ease-out;

	&:hover {
		opacity: 1;
	}

	&.min button{
		display: none;
	}

	& button {
		margin: 0;
		appearance: none;
		color: #fff;
		text-shadow: 1px 1px 0 #000;
		font: 600 1.3rem/1.5 var(--typeface-body);
		border-radius: 0;
		box-shadow: none;
		border: none;
		background: transparent;
		border-bottom: 1px solid #fff9;
		padding: 0 0.2em;
		&:last-child {
			border-bottom: none;
		}
		&#btn_larger b {
			color: oklch(0.7 0.2 170);
			font-size: 1rem;
			margin: 0 -0.15em;
		}
		&#btn_smaller b {
			color: #fa9122;
			color: oklch(0.8024 0.1549 58.1);
			font-size: 1rem;
			margin: 0 -0.15em;
		}
		&:hover {
			background: var(--button-highlight-overlay);
		}
	}
}

section.content {
	grid-area: main;
	padding: 0 var(--content-margins) 1em;
	min-height: 100vh;
	overflow-wrap: anywhere;
	& p, & li, & blockquote {
		max-width: var(--text-width);
	}
	& img {
		max-width: 100%;
		height: auto;
		filter: drop-shadow(1px 2px 2px oklch(from var(--color-tinted-shadow) l c h / 20%))
		drop-shadow(3px 4px 4px oklch(from var(--color-tinted-shadow) l c h / 20%))
		drop-shadow(6px 8px 8px oklch(from var(--color-tinted-shadow) l c h / 10%));
		border-radius: 5px;
	}
   	& .fullbleed {
        margin-left: calc(-1 * var(--content-margins));
        margin-right: calc(-1 * var(--content-margins));
        width: calc(100% + (2 * var(--content-margins)));
        min-width: calc(100% + (2 * var(--content-margins)));
        max-width: none;
        &>* {
            width: 100%;
            max-width: none;
            min-width: 100%;
        }
    }
}

footer {
	--c: oklch(from var(--color-primary) max(l,0.85) c h);
	--c70: color-mix(in oklch, var(--c) 70%, #0000);
	--c10: color-mix(in oklch, var(--c) 10%, #0000);
	grid-area: footer;
	padding: 20px 3ch 60px;
	background: repeating-linear-gradient(#0000, #000 3px, var(--c10) 4px, var(--c10) 5px, #0000 6px) #000;
	font: 400 1.5em/1.15 var(--typeface-mono);
	text-shadow: 0 0 0.5em var(--c70);
	color: var(--c);
	position: relative;
	box-shadow: 2px 2px 30px #000 inset, 2px 2px 30px #000 inset;
	border-top: 2px solid var(--color-pop);
	overflow-x: hidden;
	& .sitetree {
	    text-overflow: ellipsis;
		text-wrap: nowrap;
		overflow: hidden;
		width: 100%;
		display: block;
	}
	& a:any-link {
		background: var(--c);
		color: #000b;
		text-decoration: none;
		text-shadow: 0 0 3px #0005;
		&:hover, &:active {
			text-decoration: underline;
			background: inherit;
			color: inherit;
			box-shadow: none;
		}
		.sitetree & {
		    color: inherit;
			background: none;
			text-shadow: inherit;
		}
	}
	& p, & li, & pre {
		max-width: var(--text-width);
		filter: drop-shadow(0 0 0.5em var(--c70));
	}
	& .ascii-art{
	    white-space: pre;
	}
}

a:any-link {
	color: inherit;
	font-weight: 450;
	text-decoration: underline;
	color: var(--color-link);
	text-decoration-color: var(--color-link-underline);
	text-underline-offset: 6%;
	transition: all 200ms cubic-bezier(0.23, 1, 0.320, 1);
	text-decoration-thickness: 0.09em;
	&:hover, &:active, &:focus {
		--c: var(--color-h1);
		--c: color-mix(in oklch, transparent 20%, color-mix(in oklch, var(--color-fg), var(--color-primary-sat) 80%));
		--c: var(--color-pop);
		--c: var(--color-pop-bgcontrast);
		background: var(--c);
		color: var(--color-bg-hc);
		box-shadow: 0 0 0 3px var(--c);
		text-decoration: none;
		text-shadow: 0 0 2px var(--color-fg);
		border-radius: 1px;
	}
	&:active {
		--c: var(--color-pop-bgcontrast);
	}
}

h1 {
	font: 400 4em/1.05 var(--typeface-display);
	transform-origin: left;
	font-size: clamp(3em, 5vw, 6em);
	color: var(--color-h1);
	max-width: 24ch;
	margin: 0.5em 0 0.25em;
	text-shadow: 2px 2px 0 #7773;
	& em, & i{
		font-style: normal;
		text-decoration: 0.05em underline var(--color-pop-bgcontrast);
		text-underline-offset: 0.05em;
	}
}

h2 {
	color: var(--color-h2);
	font: var(--weight-h2) 1.5em/1.2 var(--typeface-body);
	margin: 1em 0 0.25em;
	position: relative;
	max-width: var(--text-width);
	font-stretch: 135%;
	font-variation-settings: "YTLC" 550;
	&::after{
	    content: '';
		position: absolute;
		width: 100%;
		height: 0.08em;
		right: 0;
		bottom: -3px;
		background: linear-gradient(to right, color-mix(in oklch, var(--color-pop) 50%, var(--color-fg)), var(--color-bg));
		background: linear-gradient(to right in oklab, var(--color-pop-bgcontrast), oklch(from var(--color-bg) l c h / 50%));
		background: linear-gradient(to right in oklab, var(--color-h1) -100%, oklch(from var(--color-bg) l c h / 50%));
	}
}

h3 {
	font: 350 1.2em/1.4 var(--typeface-body);
	text-transform: uppercase;
	font-stretch: 150%;
	margin: 1em 0 0.3em;
}

h4 {
	font: 300 1.2em/1.5 var(--typeface-body);
	font-style: oblique 5deg;
	margin: 1em 0 0.4em;
	& em, & i {
		font-style: oblique 10deg;
		text-decoration: underline 1px;
	}
}

h5 {
	font: 700 1em/1.6 var(--typeface-body);
	font-stretch: 150%;
	text-transform: uppercase;
	color: var(--color-h2);
	margin: 1em 0 0.4em;
	&::before {
		content: '↪ ';
		font-style: normal;
	}
}

h6 {
	font: 700 1em/1.6 var(--typeface-body);
	font-stretch: 150%;
	font-variation-settings: "YTLC" 555, "XTRA" 520;
	margin: 1em 0 0.4em;
	&::before {
		content: '↪ ';
		font-style: normal;
	}
}

code, pre {
	font: 400 1em/1.15 var(--typeface-mono);
}

.zola-anchor:any-link {
	position: absolute;
	left: -0.9em;
	opacity: 0;
	color: var(--color-primary);
	text-decoration: none;
	padding-right: 10px;
	transition: opacity 300ms cubic-bezier(0.25, 1, 0.5, 1);;
	:hover > &, &:hover, &:focus, &:active{
		opacity: 1;
		box-shadow: none;
		background: none;
		color: var(--color-primary);
	}
	:has(>&) {
		position: relative;
	}
}

blockquote {
	background: linear-gradient(to bottom right, color-mix(in oklch,var(--color-primary) 10%, transparent), transparent 300%);
	padding: .5em 2ch;
	margin: 1em 0;
	border-left: 2px solid var(--color-primary);
	max-width: var(--text-width);
}

.article-signoff {
	text-align: right;
}

.quote-signoff {
	text-align: right;
}

strong, b{
	font-weight: 600;
}

i, em {
    font-style: oblique 10deg;
}

ol {
	padding-left: 1.85em;
	& li {
		padding-left: 0.15em;
		&::marker {
		    color: var(--color-h1);
			font-weight: 400;
			margin: .2em 0;
		}
	}
	h2 + &, h3 + &, summary + & {
		margin-top: 0;
	}
	& ol {
		padding-left: 2.5ch;
		list-style-type: lower-alpha;
	}
}

ul {
	padding-left: 1.65em;
	& li {
		padding-left: 0.3em;
		margin: .2em 0;
		&::marker {
		    color: var(--color-h1);
		}
	}
	h2 + &, h3 + &{
		margin-top: 0;
	}
}
ul.blog-listing {
	padding: 0;
	margin: 1em 0;
	display: flex;
	flex-direction: column;
	font: 400 clamp(1.6em, 3.5vw, 2.1em)/1.1 var(--typeface-display);
	margin: 0.5rem 0;
	width: max-content;
	min-width: 50%;
	max-width: 100%;
	& li {
		display: grid;
		grid-template-areas: "date tags author" "title title title";
		gap: 0.06em 1em;
		position: relative;
		background: linear-gradient(to right, var(--color-primary), #0000) no-repeat bottom / 100% 1px, transparent;
		padding: 0.4em 0 0.3em;
		margin: 0;
		align-items: end;
		--c: var(--color-h1);
		transition: all 100ms cubic-bezier(0.215, 0.610, 0.355, 1);
		color: var(--color-h2);
		& a:any-link:first-child {
		    grid-area: title;
			color: oklch(from var(--color-fg) l c h / 90%);
			text-decoration: none;
			&:hover, &:active {
				color: var(--color-bg);
				text-shadow: 2px 2px 0 #0004;
				box-shadow: none;
				background: none;
			}
		}
		&:has(a:any-link:first-child:active, a:any-link:first-child:hover) {
		    background: linear-gradient(to right, #0000, #0000) no-repeat bottom / 100% 1px, linear-gradient(350deg in oklch, var(--color-h2), #fff 700%);
			padding-left: 0.25em;
			padding-right: 0.25em;
			box-shadow: var(--button-shadow-hover);
			color: var(--color-bg);
			text-shadow: 1px 1px 0 #0004;
		}
		& .article-separator {
			display: none;
		}
		& time {
		    grid-area: date;
			font-family: var(--typeface-mono);
			min-width: max-content;
			font-size: 1rem;
			line-height: 1;
		}
	}

}

h2 + p, h3 + p, h4 + p {
	margin-top: 0.5em;
}

h5 + p, h6 + p {
	margin-top: 0;
}

pre {
	padding: 0.5em 0.7em;
	overflow-x: auto;
	max-width: fit-content;
	border: 1px solid var(--color-primary);
}

.z-code {
	counter-reset: line;
	box-shadow: 1px 1px 5px inset #0003;
	@container & (width > 300px) & {
		margin-left: -2em;
	}
	&:has(>code>.z-text:only-child), &:has(>code>.z-source:only-child) {
		box-shadow: 1px 1px 3px inset #0003;
	}
}

table {
	border: border: 1px solid var(--color-h1);
	border-collapse: collapse;
	& th {
		background: var(--color-h1);
		color: var(--color-bg);
		border: 1px solid var(--color-h1);
		padding: 0.2em 0.5em;
	}
	& td {
		border: 1px solid oklch(from var(--color-h1) l c h / 50%);
		padding: 0.2em 0.5em;
	}
	& tr:nth-child(odd) {
		background: oklch(from var(--color-h1) l c h / 10%)
	}
}

kbd {
	display: inline-block;
	text-align: center;
	min-width: 1.5em;
	font-family: var(--typeface-mono);
	padding: 0 0.3em;
	border: 1px solid var(--color-h1);
	box-shadow: 0.5px 0.5px 2px var(--color-tinted-shadow);
	border-radius: 3px;
}

.sitebuttons ul {
    display: flex;
    list-style: none;
    padding: 0.5em 0;
    gap: 6px;
    flex-wrap: wrap;
    max-width: var(--text-width);
    font-size: 1.33em;
    li {
        display: flex;
        flex: 1 0;
        padding: 0;
        margin: 0;
    }
    & a:any-link {
        flex: 1 0;
        min-width: max-content;
        display: flex;
        align-items: center;
        gap: 0.4em;
        background: linear-gradient(352deg in oklch, var(--color-bg), var(--color-primary) 750%);
        box-shadow: inset 1px 1px 3px oklch(from var(--color-primary) 0.1 c h / 50%);
        border: 1px solid oklch(from var(--color-primary) l c h / 35%);
        padding: clamp(0.3em, 1vw, 0.5em) 0.75em;
        text-decoration: none !important;
        font-weight: 400;
        border-radius: 5px;
        & .emoji {
            font-size: 1.2em;
            text-shadow: 1px 1px 2px var(--color-tinted-shadow);
        }
        & span:not(.emoji) {
            text-decoration: 0.08em underline var(--color-link-underline) !important;
            text-underline-offset: 0.07em;
            text-shadow: 1px 1px 2px oklch(from var(--color-tinted-shadow) l c h / 10%);
        }
        &:hover, &:focus {
            color: #fff;
            background: var(--button-overlay), oklch(from var(--color-primary) 0.6 c h);
            text-shadow: 1px 1px 0 #000;
            box-shadow: var(--button-shadow);
            & span:not(.emoji) {
                text-decoration: transparent !important;
            }
        }
    }
}

#search-container {
	grid-area: search;
	padding: 32px 5vw;
	height: auto;
	transition: height 200ms cubic-bezier(0.23, 1, 0.320, 1);
	overflow: hidden;
	border-bottom: 2px solid var(--color-primary);
	background: var(--color-bg);
	box-shadow: inset 0 -1px 5px oklch(from var(--color-tinted-shadow) l c h / 30%), inset 0 -4px 10px oklch(from var(--color-tinted-shadow) l c h / 20%);
	@starting-style {
		height: 0;
	}
	& label {
		margin: 0 0 0.5em;
		font-size: 0.9em;
		display: inline-block;
	}
	& #search-box {
		width: 100%;
		appearance: none;
		font-family: inherit;
		border: none;
		border-bottom: 1px solid var(--color-h1);
		background: transparent;
		color: inherit;
		font-size: 1.3rem;
		font-stretch: 150%;
	}
	& #search-results {
		list-style-type: none;
		display: flex;
		flex-direction: column;
		padding: 0;
		margin: 1em 0;
	}
}

@media screen and (width <= 700px) {
	body:has(nav#toc details[open]) {
		display: flex;
	}
	nav#topnav {
		justify-content: center;
		&>a:any-link:first-child, & ul {
			flex: 1 1 350px;
		}
	}
	nav#toc {
		position: static !important;
		padding: 0 5vw;
		& ol {
			margin-bottom: 0;
		}
		& li:has(.toplink) {
			display: none;
		}
		& h2::after{
			background: linear-gradient(to right, var(--color-fg), transparent);
		}
	}
	footer {
	    font-size : 14px !important;
	}
}

@media screen and (width > 1800px) {
	body {
		display: grid;
		grid-template-rows: auto;
		grid-template-columns: minmax(max-content,1fr) minmax(1000px, 9fr);
		grid-template-areas: "search search" "header main" "footer footer";
		&:has(nav#toc), &:has(nav#toc details[open]) {
			background: var(--header-bg);
			display: grid;
			grid-template-columns: minmax(350px,1fr) minmax(1000px,9fr);
			grid-template-rows: auto auto 1fr auto;
			grid-template-areas: "search search" "header main" "sidebar main" "footer footer";
			header {
				position: static;
				background: none;
			}
			nav#topnav {
				& ul {
					flex-direction: row;
				}
				& li {
					flex: 1 1;
				}
				&>ul a:any-link {
					justify-content: center;
				}
			}
		}
		& nav#toc {
			border-right: 1px solid var(--color-primary);
			min-height: 100vh;
			color: #fff;
			& a:any-link {
			    color: #fff;
			}
			& ::marker {
			    color: var(--color-bg);
			}
			& h2 {
				color: #fff;
			}
			& h2::after {
				background: linear-gradient(to right, #fff, transparent);
			}
			& details summary::after {
				margin-left: 0;
			}
		}
		section.content {
			background: var(--color-bg);
			background: var(--bg);
			box-shadow: inset 0 -4px 7px var(--color-tinted-shadow);
		}
	}
	header {
		border-right: 1px solid var(--color-primary);
		display: block;
		max-height: 100vh;
		position: sticky;
		top: 0;
	}
	nav#topnav {
		flex-direction: column;
		ul {
			flex: 1 1;
			padding: 1px;
			flex-direction: column;
		}
		&>ul a:any-link {
			justify-content: start;
			font-stretch: 150%;
			font-variation-settings: "YTLC" 550;
			font-weight: 350;
		}
		&>a:any-link:first-child {
			flex: 1 0;
			margin: 1px;
		}
	}
}

@media print {
	:root {
		--color-bg: #fff;
		--color-fg: #000;
		--bg: #fff;
		--text-width: 100%;
	}
	body:has(nav#toc) {
		display: flex !important;
	}
	section.content {
		padding: 0;
		margin: 0;
		& a:any-link {
			text-decoration: none;
			font-weight: 600;
			&:after{
				font-weight: 350;
				font-style: italic;
				font-size: 1rem;
				content: " (" attr(href) ") ";
			}
		}
	}
	nav#toc {
		display: none;
	}
	header {
		padding: 0;
		visibility: hidden;
	}
	header ul {
		display: none !important;
	}
	nav#topnav>a:first-child {
		color: #000;
		visibility: visible;
		background: none;
		border: 1pt solid var(--color-pop-bgcontrast);
		outline: 0;
		text-shadow: none;
		position: absolute;
		top: 1px;
		right: 1px;
		display: flex;
		flex-direction: column;
		align-items: end;
		&:after{
			content: 'deal.digital';
			font-size: 1rem;
		}
	}
	footer {
		font-size: 10pt !important;
		box-shadow: none;
		border-top: 1px solid #000;
		color: #000;
		background: none;
		text-shadow: none;
		& a:any-link {
			background: none;
			text-shadow: none;
			color: #000;
			text-decoration: underline;
		}
		& p, & li {
			filter: none;
		}
		& pre {
			display: none;
		}
	}
	h1:first-child {
		margin-top: 0;
	}
}
