@import url("/syntax-dark.css") screen and (prefers-color-scheme: dark);
@import url("/syntax-light.css") print, (prefers-color-scheme: light);
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800');

:root {
    --lm-color-bg: #ffefef;
    --lm-color-bg: oklch(from var(--color-primary) .975 calc(c * .1) h);
    --lm-color-fg: #000;
	--dm-color-bg: oklch(from var(--color-primary) calc(l * .2) calc(c * .2) h);
	--dm-color-fg: #fff;

    --color-bg: var(--lm-color-bg);
    --color-fg: var(--lm-color-fg);
    --color-primary: #f30; /*#fa7;*/
    --color-pop: oklch(from var(--color-primary) calc(l + .1) calc(c + .1) calc(h - 180));
    --color-primary-sat: oklch(from var(--color-primary) calc(.95) calc(c + .1) h);

    --text-width: 80ch;
    --typeface-body: "Atkinson Hyperlegible Next", sans-serif;
    --typeface-display: "Atkinson Hyperlegible Next", sans-serif;
    --typeface-mono: "Atkinson Hyperlegible Mono", monospace;
    box-sizing: border-box;
	
	@media (prefers-color-scheme: dark) {
		--color-bg: var(--dm-color-bg);
		--color-fg: var(--dm-color-fg);
	}
}



*, *:before, *:after{
    box-sizing: inherit;
}

body {
    background: var(--color-bg);
    color: var(--color-fg);

    padding: 0;
    margin: 0;
    font: 350 1em/1.5 var(--typeface-body);

    display: flex;
    flex-direction: column;

    &:has(nav#toc) {
        display: grid;
        grid-template-columns: minmax(250px,1fr) minmax(150px,5fr);
        grid-template-rows: auto minmax(100vh,auto) auto;
        grid-template-areas: "header header" "sidebar main" "footer footer";
		& section.content {
			padding: 0 3ch;
		}
    }

}

header {
    grid-area: header;
    width: 100%;
    margin: 0;
    padding: 0.5em 1ch;
    color: #fff;
    font-weight: 450;
	font-size: clamp(1em, 1.2vw, 1.3em);
    //background: linear-gradient(to right in oklch, #20140e, #3c3638);
    background: linear-gradient(184deg in oklch, var(--color-primary) -100%, #000 200%);
    display: flex;
    flex-direction: column;
}

nav#topnav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    &>a:first-child {
		flex: 0 0;
        padding: 0.2em 0.6ch;
        font: 400 2em/1 var(--typeface-body);
		background: linear-gradient(to right, var(--color-pop), var(--color-pop) 0.1em, transparent 0.1em) 0 / 105% 105%, linear-gradient(to bottom in oklch, #fff1, #fff2 50%, #0002 50%, transparent) color-mix(in oklch, var(--color-primary-sat) 20%, transparent);
    }
    & ul {
        overflow: hidden;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        gap: 5px;
        list-style-type: none;
		flex: 1 1;
		padding-right: max(0px, calc(100vw - 1400px));
    }
    & li {
        display: flex;
        flex: 1 1;
		margin: 0;
		padding: 0;
    }
    & a {
        display: flex;
		place-items: center;
        place-content: center;
        flex: 1 0;
        min-width: max-content;
        border: 1px solid #fff8;
        outline: 1px solid #0008;
        //backdrop-filter: saturate(1.5) brightness(1.2);
        background: linear-gradient(to bottom in oklch, #fff1, #fff2 50%, #0002 50%, transparent) color-mix(in oklch, var(--color-primary-sat) 20%, transparent);
        padding: 0.25em 1.2ch 0.25em 1ch;
        text-decoration: none;
		text-shadow: 1px 1px 0 #000;
    }
}

nav#breadcrumbs{
    display: none;
}

nav#toc {
    grid-area: sidebar;
    padding: 0 2ch;
    position: sticky;
    top: 0;
    height: fit-content;
    & h2 {
        padding: 0 0 10px;
        margin: 20px 0 10px;
        border-bottom: 2px solid color-mix(in oklch, var(--color-fg) 60%, transparent);
        flex: 1 0;
    }
    & ol {
        padding: 0 0 0 3ch;
        list-style-type: decimal-leading-zero;
        & ol {
            list-style-type: lower-alpha;
            padding: 0 0 0 1.5ch;
        }
    }
    & details summary {
        display: flex;
        flex-direction: column;
        position: relative;
    }
}

section.content {
    grid-area: main;
    padding: 0 5vw;
    min-height: 100vh;
    & p, & li, & blockquote {
        max-width: var(--text-width);
    }
}

footer {
    --c: oklch(from var(--color-primary) max(l,0.85) c h);
    --c70: color-mix(in oklch, var(--c) 70%, #0000);
    --c10: color-mix(in oklch, var(--c) 10%, #0000);
    grid-area: footer;
    padding: 1em 3ch;
    background: repeating-linear-gradient(#0000, #000 3px, var(--c10) 4px, var(--c10) 5px, #0000 6px) #000;
    margin-top: 1em;
    font: 400 1.5em/1.3 var(--typeface-mono);
    text-shadow: 0 0 0.5em var(--c70);
    color: var(--c);
    padding-bottom: 100px;
    position: relative;
    box-shadow: 2px 2px 30px #000 inset, 2px 2px 30px #000 inset;
	border-top: 2px solid var(--color-pop);
    & :link, & :visited {
        background: var(--c);
        color: #000b;
        text-decoration: none;
        text-shadow: 0 0 3px #0005;
        &:hover, &:active {
            text-decoration: underline;
            background: inherit;
            color: inherit;
            box-shadow: none;
        }
    }
    & p, & li, & pre {
        max-width: var(--text-width);
        filter: drop-shadow(0 0 0.5em var(--c70));
    }
    & pre{
        border: 0;
        padding: 0;
        margin: 0;
        background: 0;
        color: inherit;
        font-size: 16px;
    }
}

@media screen and (max-width: 700px) {
    body:has(nav#toc) {
        display: flex;
    }
    nav#topnav {
        justify-content: center;
        &>a:first-child, & ul {
            flex: 1 1 350px;
        }
    }
    nav#toc {
        position: static;
    }
    h1 {
        font-size: 3em !important;
    }
    nav#toc details summary {
        &:after {
            content: 'Click to show';
            position: absolute;
            right: 0;
            bottom: 1em;
        }
        [open] &:after {
            content: 'Click to hide';
        }
    }
}

:link, :visited {
    color: inherit;
    text-decoration: 1px underline var(--color-primary);
	font-weight: 400;
}

h1 {
    font: 100 4em/1 var(--typeface-display);
	font-size: clamp(3em, 5vw, 6em);
    text-decoration: 2px underline var(--color-primary);
    max-width: 22ch;
    margin: 0.5em 0 0.25em;
    //text-decoration: 2px underline color-mix(in oklch, var(--color-fg) 50%, var(--color-primary));
}

h2 {
    font: 500 1.8em/1.2 var(--typeface-display);
    margin: 1em 0 0.25em;
}

h3 {
    font: 500 1.1em/1.2 var(--typeface-body);
    text-transform: uppercase;
    letter-spacing: 0.1ch;
    margin: 1em 0 0.25em;
}

code, pre {
    font: 400 0.9em/1.2 var(--typeface-mono);
}

.zola-anchor {
    position: absolute;
    left: -1.2ch;
    opacity: 0;
    color: var(--color-primary);
    text-decoration: none;
    padding-right: 10px;
    :hover > &, &:hover, &:focus, &:active{
        opacity: 1;
    }
    :has(>&) {
        position: relative;
    }
}

blockquote {
    background: linear-gradient(to bottom right, color-mix(in oklch,var(--color-primary) 10%, transparent), transparent 300%);
    padding: 1em 4ch;
    margin: 1em 0;
    border-left: 2px solid var(--color-primary);
    max-width: var(--text-width);
}

p.author {
	text-align: right;
}

.article-signoff {
	text-align: right;
}

pre {
    padding: 1ch;
    overflow-x: auto;
    max-width: fit-content;
}

ol {
    padding-left: 3ch;
    & li {
        padding-left: 0.5ch;
        &::marker {
            font-weight: 400;
			margin: .2em 0;
        }
    }
}

ul {
    padding-left: 3.25ch;
    & li {
        padding-left: 0.25ch;
		margin: .2em 0;
    }
	&.blog-listing {
		padding: 0;
		margin: 1em 0;
	}
	&.blog-listing li {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		border-bottom: 1px solid color-mix(in oklch, var(--color-fg) 30%, transparent);
		margin: 0.5em 0;
		& :link, & :visited {
			
		}
		& .article-separator {
			display: none
		}
		& time {
			font-family: var(--typeface-mono);
		}
	}
}

@media print {
	:root {
		--color-bg: #fff;
		--color-fg: #000;
	}
	header {
		display: none;
	}
	footer {
		font-size: 10pt !important;
		box-shadow: none;
		border-top: 1px solid #000;
		color: #000;
		background: none;
		text-shadow: none;
		& :link, & :visited {
			background: none;
			text-shadow: none;
			color: #000;
			text-decoration: underline;
		}
	}
}