{{define "404"}}
{{template "chrome_start" .}}
<main class="content">
	<article id="content">
		<style>:root{--color-primary: #ff0030}</style>
		<h1>404 Not Found</h1>
		<p>My, look at the time.</p>
		<pre style="border: none">
        ,--.-----.--.
        |--|-----|--|
        |--|     |--|
        |  |-----|  |
      __|--|     |--|__
     /  |  |-----|  |  \
    /   \__|-----|__/   \
   /   ______---______   \/\
  /   /               \   \/
 {   /   . .    _  . . \   }
 |  {    |_| . | | |_|  }  |-,
 |  |      | . |_|   |  |  | |
 |  {                   }  |-'
 {   \                 /   }
  \   `------___------'   /\
   \     __|-----|__     /\/
    \   /  |-----|  \   /
     \  |--|     |--|  /
      --|  |-----|  |--
        |--|     |--|
        |--|-----|--|
        `--'-----`--'
		</pre>
	</article>
</main>
{{template "chrome_end" .}}
{{end}}
