{% extends "base.html" %}
{% block content %}
<style>:root{--color-primary: #ff0030}</style>
<h1 class="title">
	404 Not Found
</h1>
<p>My, look at the time.
<pre>
        ,--.-----.--.
        |--|-----|--|
        |--|     |--|
        |  |-----|  |
      __|--|     |--|__
     /  |  |-----|  |  \
    /   \__|-----|__/   \
   /   ______---______   \/\
  /   /               \   \/
 {   /   . .    _  . . \   }
 |  {    |_| . | | |_|  }  |-,
 |  |      | . |_|   |  |  | |
 |  {                   }  |-'
 {   \                 /   }
  \   `------___------'   /\
   \     __|-----|__     /\/
    \   /  |-----|  \   /
     \  |--|     |--|  /
      --|  |-----|  |--
        |--|     |--|
        |--|-----|--|
        `--'-----`--'
</pre>
<p>I hope I didn't break a permalink. They're supposed to be, well, permanent.
{% endblock content %}