{% import "macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% if page.extra.shorttitle %}{{ page.extra.shorttitle }} - {% elif page.title %}{{ page.title }} - {% endif %}Wesley Deal</title>
{% if config.extra.stylesheet %}
<link rel="stylesheet" href="/{{ config.extra.stylesheet }}.css">
{% else %}
<link rel="stylesheet" href="/style.css">
{% endif %}
<body{% if page.slug %} id="{{ page.slug }}"{% elif not page.title %} id="index"{% endif %}>
<header>
	<nav>
		{% block homelink %}
		<a href="/">Wesley Deal</a>
		{% endblock homelink %}
		{% block breadcrumb %}
		{% set current = section | default(value=page) %}
		{% for ancestor in current.ancestors %}
		{% if loop.first %}
		{% continue %}
		{% endif %}
		<span>/</span>
		{% set section = get_section(path=ancestor) %}
		<a href="{{ section.permalink | safe }}">{{ section.title }}</a>
		{% endfor %}
		<span>/</span>
		<a href="{{ current.permalink | safe }}">●</a>
		{% endblock breadcrumb %}
	</nav>
</header>
{% if page.extra.toc and page.toc%}
<nav id="toc">
	<h2>Contents</h2>
	<ul>
		{% for h1 in page.toc %}
		<li>
		<a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
			{% if h1.children %}
			<ul>
				{% for h2 in h1.children %}
				<li>
					<a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
				</li>
				{% endfor %}
			</ul>
			{% endif %}
		</li>
	    {% endfor %}
		<li>
			<a href="#" class="toplink">↑ Top of page</a>
		</li>
	</ul>
</nav>
{% endif %}
<section class="content">
	{% block content %} {% endblock %}
</section>
<footer>
	No rights reserved. <a href="https://github.com/wesleydeal/deal.digital{% if page.relative_path %}/edit/master/content/{{ page.relative_path }}{% endif %}">View source here</a>. Provided as-is, no warranty, etc.
	Built {{ now(utc=true) | date(format="%Y-%m-%d %H:%M:%S UTC") }} with <a href="https://www.getzola.org/">Zola</a> on GitHub <a href="https://github.com/wesleydeal/deal.digital/actions">Actions</a>, hosted on GitHub Pages.
	Thanks to Red Hat for <a href="https://www.redhat.com/en/about/brand/standards/typography">the typefaces</a>.
</footer>
</body>
</html>
