{% import "macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% if page.extra.shorttitle %}{{ page.extra.shorttitle }} - {% elif page.title %}{{ page.title }} - {% endif %}Wesley Deal</title>
{% if config.extra.stylesheet %}
<link rel="stylesheet" href="/{{ config.extra.stylesheet }}.css">
{% else %}
<link rel="stylesheet" href="/style.css">
{% endif %}
{% if page.extra.color %}
<style>
	:root {--color-primary: {{ page.extra.color }}}
</style>
{% endif %}
<body{% if page.slug %} id="{{ page.slug }}"{% elif not page.title %} id="index"{% endif %}>
<header>
	<nav id="topnav">
		{% block homelink %}
		<a href="/">Wesley Deal</a>
		{% endblock homelink %}
		<ul>
			<li><a href="/resume">📄 Resume</a></li>
			<li><a href="https://github.com/wesleydeal">👨🏻‍💻 GitHub</a></li>
			<li><a href="https://linkedin.com/in/wesley-deal">🏢 LinkedIn</a></li>
			<li><a href="/now">⏳ I am now...</a></li>
			<li><a href="/links">🔗 Links</a></li>
			<li><a href="/uses">⌨️ I use...</a></li>
		</ul>
	</nav>
	<nav id="breadcrumbs">
		{% block breadcrumb %}
		{% set current = section | default(value=page) %}
		{% for ancestor in current.ancestors %}
		{% if loop.first %}
		{% continue %}
		{% endif %}
		<span>/</span>
		{% set section = get_section(path=ancestor) %}
		<a href="{{ section.permalink | safe }}">{{ section.title }}</a>
		{% endfor %}
		<span>/</span>
		<a href="{{ current.permalink | safe }}">●</a>
		{% endblock breadcrumb %}
	</nav>
</header>
{% if page.extra.toc and page.toc%}
<nav id="toc">
	<details open>
	<summary><h2>On this page</h2></summary>
	<ol>
		{% for h1 in page.toc %}
		<li>
		<a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
			{% if h1.children %}
			<ol>
				{% for h2 in h1.children %}
				<li>
					<a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
				</li>
				{% endfor %}
			</ol>
			{% endif %}
		</li>
	    {% endfor %}
		<li>
			<a href="#" class="toplink">↑ Top of page</a>
		</li>
	</ol>
	</details>
</nav>
{% endif %}
<section class="content">
	{% block content %} {% endblock %}
</section>
<footer>
	<p>No rights reserved. <a href="https://github.com/wesleydeal/deal.digital{% if page.relative_path %}/blob/master/content/{{ page.relative_path }}{% endif %}">View source here</a>. Provided as-is, no warranty, etc.
	<p>Built {{ now(utc=true) | date(format="%Y-%m-%d %H:%M:%S UTC") }} with <a href="https://www.getzola.org/">Zola</a> on GitHub <a href="https://github.com/wesleydeal/deal.digital/actions">Actions</a>, hosted on GitHub Pages.
	<p>This page is typed in <a href="https://www.brailleinstitute.org/about-us/news/braille-institute-launches-enhanced-atkinson-hyperlegible-font-to-make-reading-easier/">Atkinson Hyperlegible Next &amp; Monospace</a>, and <a href="https://github.com/Fonthausen/CrimsonPro">Crimson Pro</a> for large headings.
	<br><br>
<pre>
                      __,,,,_
       _ __..-;''`--/'/ /.',-`-.
   (`/' ` |  \ \ \\ / / / / .-'/`,_
  /'`\ \   |  \ | \| // // / -.,/_,'-,
 /&lt;7' ;  \ \  | ; ||/ /| | \/    |`-/,/-.,_,/')
/  _.-, `,-\,__|  _-| / \ \/|_/  |    '-/.;.\'
`-`  f/ ;      / __/ \__ `/ |__/ |
     `-'      |  -| =|\_  \  |-' |
           __/   /_..-' `  ),'  //
       fL ((__.-'((___..-'' \__.'

</pre>

</footer>
</body>
</html>
