{{define "home"}}
{{template "chrome_start" .}}
<main class="content">
	<article class="landing">
		<h1 class="title" id="title">Hello!</h1>
		<p>I’m Wesley Deal, a technology enthusiast and sysadmin.
		<div class="landing-link-container">
			<section class="sitebuttons">
				<h2>Quick Links</h2>
				<ul>
					<li><a href="/resume/" mu-disabled><span class="emoji">📄 </span><span>Resume</span></a></li>
					<li><a href="https://github.com/wesleydeal"><span class="emoji">👨🏻‍💻 </span><span>GitHub</span></a></li>
					<li><a href="https://linkedin.com/in/wesley-deal"><span class="emoji">🏢 </span><span>LinkedIn</span></a></li>
					<li><a href="/now/"><span class="emoji">⏳ </span><span>What I'm doing now</span></a></li>
					<li><a href="/links/"><span class="emoji">🔗 </span><span>Links of interest</span></a></li>
					<li><a href="/uses/"><span class="emoji">⌨️ </span><span>Things I use</span></a></li>
				</ul>
			</section>
			<section>
				<h2>Recent Notes &amp; Web Tools</h2>
				<ul class="blog-listing">
					{{range $index, $page := .Site.RecentPages}}{{if lt $index 12}}
					<li><a href="{{$page.Route}}">{{pageTitle $page}}</a>{{with $page.Date}}<span class="article-separator"> • </span><time>{{date .}}</time>{{end}}</li>
					{{end}}{{end}}
				</ul>
			</section>
		</div>
		<section id="about">
			<h2>About this site</h2>
			<p>This is a small collection of things I want to archive, reference, or share. It's frequently 🚧 <b>under construction</b> 🚧 as a playground for web technologies, design principles, and CI/CD. Recently, I've moved from a static site built with Zola to a bespoke flatfile CMS built with Go and Caddy. <a href="/todo">Here's what's next.</a></p>
			<p>Much of the content here once resided in rougher form on sdx1.net, which is <a href="/archive/sdx1/">archived here</a>.</p>
		</section>
	</article>
</main>
<script>
	hour = (new Date()).getHours();
	function setProps(msg, color) {
	    document.getElementById('title').innerText = 'Good ' + msg + '!';
		window.setTimeout(() => document.documentElement.style.setProperty('--color-primary', color), 1);
	}

	if (hour > 22 || hour < 6) {
		setProps("night", '#5b00d2');
	} else if (hour < 12) {
		setProps("morning", '#52b5c5');
	} else if (hour < 18) {
		setProps("afternoon", '#e57a0c');
	} else {
		setProps("evening", '#d78989');
	}
</script>
{{template "chrome_end" .}}
{{end}}
