{% extends "base.html" %}

{% block homelink %}
<a href="/" tabindex="-1" id="homelink">Wesley Deal</a>
{% endblock homelink %}
{% block breadcrumb %}
{% endblock breadcrumb %}

{% block content %}
<article class="landing">
	<h1 class="title">Hello!</h1>
	<p>I’m Wesley, a technology enthusiast and sysadmin.
	<div class="landing-link-container">
		<section class="sitebuttons">
			<h2>Quick Links</h2>
			<ul>
				<li><a href="resume"><span class="emoji">📄 </span><span>Resume</span></a></li>
				<li><a href="https://github.com/wesleydeal"><span class="emoji">👨🏻‍💻 </span><span>GitHub</span></a></li>
				<li><a href="https://linkedin.com/in/wesley-deal"><span class="emoji">🏢 </span><span>LinkedIn</span></a></li>
				<li><a href="now"><span class="emoji">⏳ </span><span>What I'm doing now</span></a></li>
				<li><a href="links"><span class="emoji">🔗 </span><span>Links of interest</span></a></li>
				<li><a href="uses"><span class="emoji">⌨️ </span><span>Things I use</span></a></li>
			</ul>
		</section>
		<section>
			<h2>Recent Articles &amp; Web Tools</h2>
			<ul class="blog-listing">
				{% set articles=[] %}
				{% for s in section.subsections %}
					{% set sectionobject = get_section(path=s) %}
					{% set_global articles = articles | concat(with=sectionobject.pages) %}
				{% endfor %}
				{% set articles = articles | filter(attribute="date") | sort(attribute="date") | reverse %}
				{% for article in articles %}
				<li><a href="{{ article.permalink | safe }}">{% if article.extra.shorttitle %}{{article.extra.shorttitle}}{% else %}{{ article.title }}{% endif %}</a><span class="article-separator"> • </span><time date="{{ article.date }}">{{ article.date }}</time></li>
				{% endfor %}
			</ul>
		</section>
	</div>
	<section id="about">
		<h2>About this site</h2>
		<p>Pardon any rough edges, this page is 🚧 <b>under construction</b> 🚧 as a playground for Zola, HTML/CSS, design principles, and CI/CD with GitHub Actions. As of late June, my stylesheet has just been rebuilt from scratch. <a href="/todo">Here's what's next.</a></p>
	</section>
</article>
<script>
	window.addEventListener('DOMContentLoaded', (event) => {
		var hoursNow = (new Date()).getHours();
		if (hoursNow > 22 || hoursNow < 6) {
			message = "Good night!";
			color = '#440e8b';
		}
		else if (hoursNow < 12) {
			message = "Good morning!";
			color = '#52b5c5';
		}
		else if (hoursNow < 18) {
			message = "Good afternoon!";
			color = '#e57a0c'
		}
		else {
			message = "Good evening!";
			color = '#d78989'
		}
		document.querySelector('h1.title').innerHTML = message;
		document.documentElement.style.setProperty('--color-primary', color);
	}, false);
</script>
{% endblock content %}
