{% macro signoff(date, updated, author="Wesley Deal") -%}
<section class="article-signoff">
{% if author -%}
		<p class="author">—{{ author }}
{% endif -%}
{% if authors -%}
{% for a in authors -%}
	<p class="author">—{{ a }}{% if not loop.last %},{% endif %}
{% endfor -%}
{% endif -%}
{% if date -%}
	<p class="created-at">written <time datetime="{{ date }}">{{ date }}</time>
{% endif -%}
{% if updated -%}
	<p class="updated-at">updated <time datetime="{{ updated }}">{{ updated }}</time>
{% endif -%}
</section>
{% endmacro signoff -%}
